{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <br>
        <div class="d-flex flex-row bd-highlight justify-content-between">
        <h5>Композиторы:</h5>
        <!-- <button type="button" class="btn btn-outline-success mb-2 mr-3">Добавить</button> -->
        </div>
        <ul class="list-group list-group-flush">
        {% for id, name, surname in authors %}
          <li class="list-group-item list-group-item-action">
            <div class="d-flex flex-row bd-highlight justify-content-between">
                <span>{{ name }} {{ surname }}</span>
                <a href="/author/edit/{{ id }}" class="btn btn-outline-warning ml-auto">Изменить</a>
                <!-- <a href="/author/delete/{{ id }}" class="btn btn-outline-danger ml-2">Удалить</a> -->
                </div>
          </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}