{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <br>
        <div class="d-flex flex-row bd-highlight justify-content-between">
        <h5>Сборники:</h5>
        <!-- <button type="button" class="btn btn-outline-success mb-2 mr-3">Добавить</button> -->
        </div>
        <ul class="list-group list-group-flush">
        {% for id, name, genres in collections %}
          <li class="list-group-item list-group-item-action">
            <div class="d-flex flex-row bd-highlight justify-content-between">
                <span>{{ name }}  Жанры:{{ genres }}</span>
                </div>
          </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}