{% extends "base.html" %}
{% block content %}
<!-- Добро пожаловать в мир музыки! -->
<form action="/collection/search/{{ cmd_id }}" style="max-width: 1000px">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <button class="btn btn-outline-info dropdown-toggle"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
        {{cmds[cmd_id]['name']}}
    </button>
    <div class="dropdown-menu">
      {% for cmd in cmds %}
      <a class="dropdown-item" href="/collection/search/{{ loop.index0 }}">{{ cmd['name'] }}</a>
      {% endfor %}
    </div>
  </div>
  <input type="text" name="query" class="form-control" value="{{query}}">
  <div class="input-group-append">
    <button type="submit" class="btn btn-info">Поиск</button>
  </div>
</div>
</form>
<div class="list-group list-group-flush">
{% for id, collection_name, price, quantity, shop_name, shop_address in data %}
  <a class="list-group-item list-group-item-action" href="/collection/{{id}}">
    {{ collection_name }}
     <small class="text-muted">{{ price }} рублей</small>
    <br>
    В наличии: {{ quantity }}
    <br>
    {{ shop_name }}
    <br>
    {{ shop_address }}
  </a>
{% endfor %}
</div>
{% endblock %}
