{% extends "base.html" %}
{% block content %}
{% if success %}
<div class="alert alert-success" role="alert">
     Успешно!  
</div>
{% endif %}
<br>
<h5 style="margin-left: 200px">Изменение данных о композиторе</h5>
<form action="/author/edit/{{ id }}" method="post" style="margin-left: 200px; max-width: 500px">
    <input type="text" name="name" class="form-control" value="{{name}}">
    <input type="text" name="surname" class="form-control" value="{{surname}}">
    <input type="text" name="birthdate" class="form-control" value="{{birthdate}}">
    <input type="text" name="deathdate" class="form-control" value="{{deathdate}}">    
    <button type="submit" class="btn btn-info">Сохранить</button>
</div>
</form>
{% endblock %}